<button (click)="toggleReturnBookForm()" class="btn btn-secondary">
    Return
</button>

@if (isToggle) {
    <div>
        <form [formGroup]="returnForm">
            <label>Member ID: </label>
            <input type="number" formControlName="member_id">
            @if (idControl?.invalid && idControl?.touched) {
                <p>Your ID is required.</p>
            }
            <label>Title: </label>
            <input type="text" [value]="bookTitle" 
                readonly>
        </form>
        <button (click)="returnBook()">Submit</button>
    </div>
}
