<button class="btn btn-xs sm:btn-sm md:btn-md btn-accent" (click)="openModal()">
    Register
</button>

<dialog #modal id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello!</h3>
    <p class="py-4">Please enter your name to Register</p>
    <div>
        <form [formGroup]="registerForm">
            <label class="input input-bordered flex items-center gap-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  class="h-4 w-4 opacity-70">
                  <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                </svg>
                <input 
                    type="text" 
                    formControlName="name" 
                    class="grow" 
                    placeholder="Name" />
            </label>
            @if (nameControl?.invalid && nameControl?.touched) {
                <p class="text-red-500">Name is required.</p>
            }
        </form>
    </div>
    <div class="modal-action">
        <button (click)="registerMember()" class="btn btn-accent">
            Submit
        </button>
        <button (click)="closeModal()" class="btn btn-error">Close</button>
    </div>
  </div>
</dialog>